.alaa{
    height: 4000px;
    background-color: black;
    color: white;
}
.nav-tabs{
    margin-top: 800px;
}
.alaaa{
    height: 10px;
    background-color:violet;
    width: 200px;
    margin-left: 820px;
}
.ala img{
    width: fit-content;
}
.al{
    height: 100px;
    background-color: white;

}